<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="17502ReturnPumpkin.IsItNice" Publisher="CN=897CDE44-098C-42D9-A41A-529C0B4B5BBA" Version="1.0.0.0" />
  <Properties>
    <DisplayName>IsItNice?</DisplayName>
    <PublisherDisplayName>Return Pumpkin</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="IsItNiceGUI.App">
      <VisualElements DisplayName="IsItNice?" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="IsItNiceGUI" ForegroundText="light" BackgroundColor="#464646" ToastCapable="true">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
  </Capabilities>
</Package>